{% extends 'base.html.twig' %}
{% form_theme outingForm 'views/form_theme.html.twig' %}

{% block title %}Nouvelle sortie{% endblock %}

{% block body %}
  <div class="container mx-auto px-4 max-w-6xl">
    <h1 class="text-2xl font-bold mb-6 text-center">Nouvelle sortie</h1>

    {{ form_start(outingForm) }}

    <div class="grid grid-cols-1 md:grid-cols-2 gap-x-8 gap-y-4">
      <div class="space-y-4">
        {% for field in ['title', 'startAt', 'entryDeadline'] %}
          <div class="form-group flex items-center">
            {{ form_label(outingForm[field], null, {'label_attr': {'class': 'w-1/3 text-right pr-4 whitespace-nowrap'}}) }}
            <div class="w-2/3">
              {{ form_widget(outingForm[field]) }}
              {{ form_errors(outingForm[field]) }}
            </div>
          </div>
        {% endfor %}
        <div class="form-group flex items-center">
          {{ form_label(outingForm.maxEntryCount, null, {'label_attr': {'class': 'w-1/3 text-right pr-4 whitespace-nowrap'}}) }}
          <div class="w-2/3 flex items-center">
            {{ form_widget(outingForm.maxEntryCount, {'attr': {'class': 'w-20 mr-2'}}) }}
            {{ form_errors(outingForm.maxEntryCount) }}
          </div>
        </div>
        <div class="form-group flex items-center">
          {{ form_label(outingForm.duration, null, {'label_attr': {'class': 'w-1/3 text-right pr-4 whitespace-nowrap'}}) }}
          <div class="w-2/3 flex items-center gap-1.5">
            {{ form_widget(outingForm.duration, {'attr': {'class': 'w-24 mr-2'}}) }}
            <span>minutes</span>
            {{ form_errors(outingForm.duration) }}
          </div>
        </div>
        <div class="form-group flex items-center">
          {{ form_label(outingForm.description, null, {'label_attr': {'class': 'w-1/3 text-right pr-4 whitespace-nowrap'}}) }}
          <div class="w-2/3">
            {{ form_widget(outingForm.description) }}
            {{ form_errors(outingForm.description) }}
          </div>
        </div>
      </div>

      <div class="space-y-4">
        {% for field in ['campus', 'location'] %}
          <div class="form-group flex items-center">
            {{ form_label(outingForm[field], null, {'label_attr': {'class': 'w-1/3 text-right pr-4 whitespace-nowrap'}}) }}
            <div class="w-2/3 {% if field == 'location' %}flex{% endif %}">
              {{ form_widget(outingForm[field], {'attr': {'class': 'flex-grow'}}) }}
              {% if field == 'location' %}
                <a class="button inline-block bg-blue-500 bg-opacity-30 px-2 py-1 ml-2" href="{{ path('location_new') }}">+</a>
              {% endif %}
              {{ form_errors(outingForm[field]) }}
            </div>
          </div>
        {% endfor %}
      </div>
    </div>

    <div class="flex justify-center space-x-4 mt-8">
      {{ form_widget(outingForm.save, {'attr': {'class': 'button border border-gray-200 bg-blue-500 bg-opacity-30 px-4 py-2'}}) }}
      {{ form_widget(outingForm.create, {'attr': {'class': 'button border border-gray-200 bg-amber-400 bg-opacity-30 px-4 py-2'}}) }}
      {{ form_widget(outingForm.cancel, {'attr': {'class': 'button border border-gray-200 bg-red-500 bg-opacity-30 px-4 py-2'}}) }}
      {{ form_widget(outingForm.delete, {'attr': {'class': 'button border border-gray-200 bg-pink-500 bg-opacity-30 px-4 py-2'}}) }}
    </div>

    {{ form_end(outingForm) }}
  </div>
{% endblock %}