{% extends 'base.html.twig' %}

{% block title %}Consulter les sorties{% endblock %}

{% block body %}
  <div class="text-xs my-2">
    {{ form_start(filter_form) }}
    {{ form_widget(filter_form, { 'attr': { 'class': 'space-y-2'} }) }}
    {{ form_end(filter_form) }}
  </div>
  <div class="border-separate overflow-clip border border-solid flex flex-col text-xs h-[40vh]">
    <table class="w-full table-fixed">
      <thead class="sticky top-0">
      <tr class="uppercase leading-normal">
        <th class="py-3 px-6 text-left">Nom de la sortie</th>
        <th class="py-3 px-6 text-center">Date de la sortie</th>
        <th class="py-3 px-6 text-center">Inscrits / Places</th>
        <th class="py-3 px-6 text-center">Etat</th>
        <th class="py-3 px-6 text-center">Inscrit</th>
        <th class="py-3 px-6 text-center">Organisateur</th>
        <th class="py-3 px-6 text-center">Status</th>
        <th class="py-3 px-6 text-center">Actions</th>
      </tr>
      </thead>
    </table>
    <div class="flex-1 overflow-y-auto">
      <table class="w-full table-fixed">
        <tbody class="whitespace-nowrap overflow-hidden overflow-ellipsis">
        {% for outing in outings %}
          <tr class="border-b border-gray-200 cursor-pointer">
            <td class="py-3 px-6 text-left">
              {{ outing.title }}
            </td>
            <td class="py-3 px-6 text-center">
              {{ outing.startAt|date('d-m-Y') }}
            </td>
            <td class="py-3 px-6 text-center">
              {{ outing.attendees.count }} / {{ outing.maxEntryCount }}
            </td>
            <td class="py-3 px-6 text-center">
              {{ outing.status.name }}
            </td>
            <td class="py-3 px-6 text-center">
              {{ outing.attendees.contains(app.user) ? 'Oui' : 'Non' }}
            </td>
            <td class="py-3 px-6 text-center">
              {{ outing.host.firstName ~ ' ' ~ outing.host.lastName }}
            </td>
            <td class="py-3 px-6 text-center">
              {{ outing.status.name }}
            </td>
            <td class="py-3 px-6 text-center">
              <!-- Actions go here -->
            </td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

  <div class=" m-1 mt-4">
    <a class="border border-gray-200 p-2 text-center" href="{{ path('outing_new') }}" >Créer une sortie</a>
  </div>
{% endblock %}
