{% extends 'base.html.twig' %}

{% block title %}Consulter les sorties{% endblock %}

{% block body %}
  <div class="flex flex-col h-full space-y-8 items-center">
    <div class="flex-none">
      {{ form_start(filter_form, {'attr': {'class': 'ml-32'}}) }}
      <div class="grid lg:grid-cols-3 sm:grid-cols-1 gap-6">
        <div class="space-y-4 items-center">
          <div class="flex lg:justify-end sm:justify-center w-full text-right space-x-4 items-center">
            {{ form_label(filter_form.campusChoice, null, {'label_attr': {'class': 'inline-block lg:w-1/2'}}) }}
            {{ form_widget(filter_form.campusChoice, {'attr': {'class': 'inline-block lg:w-1/2'}}) }}
          </div>
          <div class="flex lg:justify-end sm:justify-center w-full text-right space-x-4 items-center">
            {{ form_label(filter_form.titleSearch, null, {'label_attr': {'class': 'inline-block lg:w-1/2'}}) }}
            {{ form_widget(filter_form.titleSearch, {'attr': {'class': 'inline-block lg:w-1/2'}}) }}
          </div>
          <div class="flex lg:justify-end sm:justify-center space-x-4 items-center">
            {{ form_row(filter_form.startDate) }}
            {{ form_row(filter_form.endDate) }}
          </div>
        </div>

        <div class="flex flex-col justify-center items-center">
          <div class="space-y-3 w-full max-w-md">
            {% if filter_form.isHost is defined and filter_form.isEntered is defined and filter_form.isNotEntered is defined %}
              {% for field in [filter_form.isHost, filter_form.isEntered, filter_form.isNotEntered] %}
                <div class="flex items-center space-x-4">
                  <label class="relative inline-flex cursor-pointer items-center">
                    {{ form_widget(field, {
                      'attr': {
                        'class': 'peer sr-only',
                        'id': field.vars.id
                      }
                    }) }}
                    <label for="{{ field.vars.id }}" class="hidden"></label>
                    <div
                        class="peer h-4 w-11 rounded border bg-slate-200 after:absolute after:-top-1 after:left-0 after:h-6 after:w-6 after:rounded-md after:border after:border-gray-300 after:bg-purple-800 after:transition-all after:content-[''] peer-checked:bg-purple-400 peer-checked:after:translate-x-full peer-focus:ring-amber-300 bg-opacity-50"></div>
                  </label>
                  <label for="{{ field.vars.id }}" class="cursor-pointer">{{ form_label(field) }}</label>
                </div>
              {% endfor %}
            {% endif %}

            <div class="flex items-center space-x-4">
              <label class="relative inline-flex cursor-pointer items-center">
                {{ form_widget(filter_form.isPast, {
                  'attr': {
                    'class': 'peer sr-only',
                    'id': filter_form.isPast.vars.id
                  }
                }) }}
                <label for="{{ filter_form.isPast.vars.id }}" class="hidden"></label>
                <div
                    class="peer h-4 w-11 rounded border bg-slate-200 after:absolute after:-top-1 after:left-0 after:h-6 after:w-6 after:rounded-md after:border after:border-gray-300 after:bg-purple-800 after:transition-all after:content-[''] peer-checked:bg-purple-400 peer-checked:after:translate-x-full peer-focus:ring-purple-400 bg-opacity-50"></div>
              </label>
              <label for="{{ filter_form.isPast.vars.id }}"
                     class="cursor-pointer">{{ form_label(filter_form.isPast) }}</label>
            </div>
          </div>
        </div>

        <div class="flex flex-col justify-center lg:items-start sm:items-center">
          {{ form_row(filter_form.submit, {'attr': {'class': 'button p-4 bg-amber-400 bg-opacity-45'}}) }}
        </div>
      </div>
      {{ form_end(filter_form) }}
    </div>

    <div class="flex-grow overflow-hidden flex justify-center">
      <div class="overflow-x-auto overflow-y-auto max-h-full max-w-full">
        <table class="table-auto lg:text-base md:text-xs sm:text-xs">
          <thead class="bg-yellow-600 sticky top-0">
          <tr class="uppercase leading-normal">
            <th class="py-3 px-4 text-left whitespace-nowrap">Nom de la sortie</th>
            <th class="py-3 px-4 text-center whitespace-nowrap">Date</th>
            <th class="py-3 px-4 text-center whitespace-nowrap">Heure</th>
            <th class="py-3 px-4 text-center whitespace-nowrap">Inscrits / Places</th>
            <th class="py-3 px-4 text-center whitespace-nowrap">Etat</th>
            {% if app.user %}
              <th class="py-3 px-4 text-center whitespace-nowrap">Inscrit</th>
            {% endif %}
            <th class="py-3 px-4 text-center whitespace-nowrap">Organisateur</th>
            <th class="py-3 px-4 text-center whitespace-nowrap">Actions</th>
          </tr>
          </thead>
          <tbody class="bg-slate-950 bg-opacity-50">
          {% for outing in outings %}
            <tr class="border-b border-gray-700">
              <td class="py-3 px-4 text-left">{{ outing.title }}</td>
              <td class="py-3 px-4 text-center whitespace-nowrap">{{ outing.startAt|format_datetime(locale='fr_FR',pattern="dd-MM-YYYY") }}</td>
              <td class="py-3 px-4 text-center whitespace-nowrap">{{ outing.startAt|format_datetime(locale='fr_FR',pattern="HH:mm") }}</td>
              <td class="py-3 px-4 text-center whitespace-nowrap">{{ outing.attendees.count }}
                / {{ outing.maxEntryCount }}</td>
              <td class="py-3 px-4 text-center whitespace-nowrap">{{ outing.status.value }}</td>
              {% if app.user %}
                <td class="py-3 px-4 text-center whitespace-nowrap">{{ outing.host == app.user ? 'Organisateur' : (outing.attendees.contains(app.user) ? 'Oui' : 'Non') }}</td>
              {% endif %}
              <td class="py-3 px-4 text-center whitespace-nowrap">
                <a href="{{ path('user_show', {'id': outing.host.id} ) }}">
                  {{ outing.host.firstName ~ ' ' ~ outing.host.lastName }}
                </a>
              </td>
              <td class="py-3 px-4 text-center text-xs">
                <div class="flex flex-wrap justify-center gap-2">

                  <a href="{{ path('outing_show', {'id': outing.id}) }}"
                     class="button bg-amber-400 bg-opacity-30 p-2">Afficher</a>
                  {% if app.user %}
                    {% set isHost = outing.host == app.user %}
                    {% set isAttendee = outing.attendees.contains(app.user) %}
                    {% set status = outing.status %}
                    {% if isHost %}
                      {% if status == constant('App\\Enum\\Status::CREATED') %}
                        <a href="{{ path('outing_edit', {'id': outing.id}) }}"
                           class="button p-2 bg-amber-400 bg-opacity-30 ">Modifier</a>
                        <a href="#" class="button bg-amber-400 bg-opacity-30 p-2">Publier</a>
                      {% elseif status == constant('App\\Enum\\Status::OPEN') %}
                        <a href="{{ path('outing_cancel', {'id': outing.id}) }}"
                           class="button bg-amber-400 bg-opacity-30 p-2">Annuler</a>
                      {% endif %}
                    {% elseif status == constant('App\\Enum\\Status::OPEN') %}
                      <a href="{{ path(isAttendee ? 'user_withdraw' : 'user_join', {'outingId': outing.id}) }}"
                         class="button bg-amber-400 bg-opacity-30 p-2">
                        {{ isAttendee ? 'Se désister' : 'S\'inscrire' }}
                      </a>
                    {% endif %}
                  {% endif %}

                </div>
              </td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
    </div>


    <div class="flex-none py-4">
      <a class="button p-4 text-center bg-amber-300 bg-opacity-45"
         href="{{ path('outing_new') }}">Créer une sortie</a>
    </div>
  </div>
{% endblock %}
