{% extends 'base.html.twig' %}
{% form_theme outingForm 'views/form_theme.html.twig' %}

{% block title %}Nouvelle sortie{% endblock %}

{% block body %}
    <div class="container mx-auto px-4">
        {{ form_start(outingForm, {'attr': {'class': 'grid grid-cols-1 md:grid-cols-2 gap-6'}}) }}

        <div class="space-y-4">
            {{ form_row(outingForm.title) }}
            {{ form_row(outingForm.startAt) }}
            {{ form_row(outingForm.entryDeadline) }}
            {{ form_row(outingForm.maxEntryCount) }}
        </div>

        <div class="space-y-4">
            {{ form_row(outingForm.duration) }}
            {{ form_row(outingForm.description) }}

            <div class="flex justify-between items-center space-x-2">
                <div class="label text-left lg:min-w-48 min-w-24">{{ form_label(outingForm.location) }}</div>
                <div class="input inline-flex">
                    {{ form_widget(outingForm.location) }}
                    <div class="pl-2">
                        <a class="inline-block bg-blue-500 text-white px-2 py-1 rounded" href="{{ path('location_new') }}">+</a>
                    </div>
                </div>
                <div class="error">{{ form_errors(outingForm.location) }}</div>
            </div>

            {{ form_row(outingForm.campus) }}
        </div>
<div class="lg:min-w-4"></div>
        <div class="col-span-full flex justify-center space-x-4 mt-6">
            {{ form_widget(outingForm.save, {'attr': {'class': 'border border-gray-200 bg-blue-500 bg-opacity-50 min-w-28 px-4 py-2'}}) }}
            {{ form_widget(outingForm.create, {'attr': {'class': 'border border-gray-200 bg-amber-400 bg-opacity-30 min-w-28 px-4 py-2'}}) }}
            {{ form_widget(outingForm.cancel, {'attr': {'class': 'border border-gray-200 bg-red-500 bg-opacity-30 min-w-28 px-4 py-2'}}) }}
            {{ form_widget(outingForm.delete, {'attr': {'class': 'border border-gray-200 bg-pink-500 bg-opacity-30 min-w-28 px-4 py-2'}}) }}
        </div>

        {{ form_end(outingForm) }}
    </div>
{% endblock %}