{% extends 'base.html.twig' %}

{% block title %}Consulter les sorties{% endblock %}

{% block body %}
  <div class="flex flex-col h-full space-y-6">
    <div class="flex-none">
      {{ form_start(filter_form) }}
      <div class="grid lg:grid-cols-3 sm:grid-cols-1 gap-6">
        <div class="space-y-4 items-center">
          <div class="flex lg:justify-end sm:justify-center w-full text-right space-x-4 items-center">
            {{ form_label(filter_form.campusChoice, null, {'label_attr': {'class': 'inline-block lg:w-1/2'}}) }}
            {{ form_widget(filter_form.campusChoice, {'attr': {'class': 'inline-block lg:w-1/2'}}) }}
          </div>
          <div class="flex lg:justify-end sm:justify-center w-full text-right space-x-4 items-center">
            {{ form_label(filter_form.titleSearch, null, {'label_attr': {'class': 'inline-block lg:w-1/2'}}) }}
            {{ form_widget(filter_form.titleSearch, {'attr': {'class': 'inline-block lg:w-1/2'}}) }}
          </div>
          <div class="flex lg:justify-end sm:justify-center space-x-4 items-center">
            {{ form_row(filter_form.startDate) }}
            {{ form_row(filter_form.endDate) }}
          </div>
        </div>

        <div class="flex flex-col justify-center items-center">
          <div class="space-y-3 w-full max-w-md">
            <div class="flex items-center space-x-4">
              <label class="relative inline-flex cursor-pointer items-center">
                {{ form_widget(filter_form.isHost, {
                  'attr': {
                    'class': 'peer sr-only',
                    'id': filter_form.isHost.vars.id
                  }
                }) }}
                <label for="{{ filter_form.isHost.vars.id }}" class="hidden"></label>
                <div
                    class="peer h-4 w-11 rounded border bg-slate-200 after:absolute after:-top-1 after:left-0 after:h-6 after:w-6 after:rounded-md after:border after:border-gray-300 after:bg-purple-800 after:transition-all after:content-[''] peer-checked:bg-purple-400 peer-checked:after:translate-x-full peer-focus:ring-amber-300 bg-opacity-50"></div>
              </label>
              <label for="{{ filter_form.isHost.vars.id }}"
                     class="cursor-pointer">{{ form_label(filter_form.isHost) }}</label>
            </div>

            <div class="flex items-center space-x-4">
              <label class="relative inline-flex cursor-pointer items-center">
                {{ form_widget(filter_form.isEntered, {
                  'attr': {
                    'class': 'peer sr-only',
                    'id': filter_form.isEntered.vars.id
                  }
                }) }}
                <label for="{{ filter_form.isEntered.vars.id }}" class="hidden"></label>
                <div
                    class="peer h-4 w-11 rounded border bg-slate-200 after:absolute after:-top-1 after:left-0 after:h-6 after:w-6 after:rounded-md after:border after:border-gray-300 after:bg-purple-800 after:transition-all after:content-[''] peer-checked:bg-purple-400 peer-checked:after:translate-x-full peer-focus:ring-amber-300 bg-opacity-50"></div>
              </label>
              <label for="{{ filter_form.isEntered.vars.id }}"
                     class="cursor-pointer">{{ form_label(filter_form.isEntered) }}</label>
            </div>

            <div class="flex items-center space-x-4">
              <label class="relative inline-flex cursor-pointer items-center">
                {{ form_widget(filter_form.isNotEntered, {
                  'attr': {
                    'class': 'peer sr-only',
                    'id': filter_form.isNotEntered.vars.id
                  }
                }) }}
                <label for="{{ filter_form.isNotEntered.vars.id }}" class="hidden"></label>
                <div
                    class="peer h-4 w-11 rounded border bg-slate-200 after:absolute after:-top-1 after:left-0 after:h-6 after:w-6 after:rounded-md after:border after:border-gray-300 after:bg-purple-800 after:transition-all after:content-[''] peer-checked:bg-purple-400 peer-checked:after:translate-x-full peer-focus:ring-amber-300 bg-opacity-50"></div>
              </label>
              <label for="{{ filter_form.isNotEntered.vars.id }}"
                     class="cursor-pointer">{{ form_label(filter_form.isNotEntered) }}</label>
            </div>

            <div class="flex items-center space-x-4">
              <label class="relative inline-flex cursor-pointer items-center">
                {{ form_widget(filter_form.isPast, {
                  'attr': {
                    'class': 'peer sr-only',
                    'id': filter_form.isPast.vars.id
                  }
                }) }}
                <label for="{{ filter_form.isPast.vars.id }}" class="hidden"></label>
                <div
                    class="peer h-4 w-11 rounded border bg-slate-200 after:absolute after:-top-1 after:left-0 after:h-6 after:w-6 after:rounded-md after:border after:border-gray-300 after:bg-purple-800 after:transition-all after:content-[''] peer-checked:bg-purple-400 peer-checked:after:translate-x-full peer-focus:ring-purple-400 bg-opacity-50"></div>
              </label>
              <label for="{{ filter_form.isPast.vars.id }}"
                     class="cursor-pointer">{{ form_label(filter_form.isPast) }}</label>
            </div>
          </div>
        </div>

        <div class="flex flex-col justify-center lg:items-start sm:items-center">
          {{ form_row(filter_form.submit, {'attr': {'class': 'border border-gray-200 p-4 bg-amber-500 bg-opacity-40'}}) }}
        </div>
      </div>
      {{ form_end(filter_form) }}
    </div>

    <div class="flex-grow overflow-hidden border border-solid flex flex-col text-sm md:text-xs sm:text-xs">
      <table class="w-full table-fixed">
        <thead class="bg-amber-300 bg-opacity-60">
        <tr class="uppercase leading-normal">
          <th class="py-3 px-6 text-left truncate">Nom de la sortie</th>
          <th class="py-3 px-6 text-center truncate">Date de la sortie</th>
          <th class="py-3 px-6 text-center truncate">Inscrits / Places</th>
          <th class="py-3 px-6 text-center truncate">Etat</th>
          <th class="py-3 px-6 text-center truncate">Inscrit</th>
          <th class="py-3 px-6 text-center truncate">Organisateur</th>
          <th class="py-3 px-6 text-center truncate">Actions</th>
        </tr>
        </thead>
      </table>
      <div class="flex-grow overflow-y-auto">
        <table class="w-full table-fixed">
          <tbody class="bg-slate-950 bg-opacity-50">
          {% for outing in outings %}
            <tr class="border-b border-gray-700">
              <td class="py-3 px-6 text-left truncate">{{ outing.title }}</td>
              <td class="py-3 px-6 text-center">{{ outing.startAt|date('d-m-Y') }}</td>
              <td class="py-3 px-6 text-center">{{ outing.attendees.count }} / {{ outing.maxEntryCount }}</td>
              <td class="py-3 px-6 text-center">{{ outing.status.value }}</td>
              <td class="py-3 px-6 text-center">{{ outing.host == app.user ? 'Organisateur' : (outing.attendees.contains(app.user) ? 'Oui' : 'Non') }}</td>
              <td class="py-3 px-6 text-center truncate">
                <a href="{{ path('user_show', {'id': outing.host.id} ) }}" class="border border-gray-200 p-2">
                  {{ outing.host.firstName ~ ' ' ~ outing.host.lastName }}
                </a>
              </td>
              <td class="py-3 px-6 text-center flex space-x-2">
                {% set isHost = outing.host == app.user %}
                {% set isAttendee = outing.attendees.contains(app.user) %}
                {% set status = outing.status.value %}

                {% if isHost %}
                  {% if status == 'En création' %}
                    <a href="{{ path('outing_edit', {'id': outing.id}) }}"
                       class="border border-gray-200 p-2">Modifier</a>
                    <a href="#" class="border border-gray-200 p-2">Publier</a>
                  {% elseif status == 'Ouvert' %}
                    <a href="{{ path('outing_cancel', {'id': outing.id}) }}"
                       class="border border-gray-200 p-2">Annuler</a>
                  {% endif %}
                {% elseif status == 'Ouvert' %}
                  {% if not isAttendee %}
                    <a href="{{ path('user_join', {'outingId': outing.id}) }}" class="border border-gray-200 p-2">S'inscrire</a>
                  {% else %}
                    <a href="{{ path('user_withdraw', {'outingId': outing.id}) }}" class="border border-gray-200 p-2">Se
                      désister</a>
                  {% endif %}
                {% endif %}

                {% if status != 'En création' %}
                  <a href="{{ path('outing_show', {'id': outing.id}) }}" class="border border-gray-200 p-2">Afficher</a>
                {% endif %}
              </td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
    </div>

    <div class="flex-none py-4">
      <a class="border border-gray-200 p-4 text-center bg-amber-400 bg-opacity-40"
         href="{{ path('outing_new') }}">Créer une sortie</a>
    </div>
  </div>
{% endblock %}
