<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <title>{% block title %}Welcome!{% endblock %}</title>
  <link rel="icon" type="image/png" href="{{ asset('favicon.png') }}">
  {% block stylesheets %}
    {{ encore_entry_link_tags('app') }}
  {% endblock %}

  {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
    {{ encore_entry_script_tags('app') }}
  {% endblock %}
</head>
<body class="text-amber-100 font-sans bg-cover bg-center min-h-screen flex flex-col"
      style="background-image: url('../public/img/wallpaper.jpg')">
<div class="container mx-auto px-4 bg-slate-950 bg-opacity-40">
  {% include 'menu/menu.nav.html.twig' %}
  {% for label, messages in app.flashes %}
    {% for message in messages %}
      <div class="flash flash-{{ label }}">
        {{ message }}
      </div>
    {% endfor %}
  {% endfor %}
</div>
<main class="container mx-auto px-4 py-6 flex-grow bg-slate-950 bg-opacity-70 backdrop-blur">
  {% block body %}{% endblock %}
</main>
<footer class="container mx-auto px-4 py-6 text-center text-sm bg-slate-950 bg-opacity-50 backdrop-blur">
  2or
</footer>
</body>
</html>
