{% extends 'base.html.twig' %}

{% block title %}Profil{% endblock %}

{% block body %}
    {% if user is not null and user.image is not null %}
        <div>
            <img src="{{ asset('img/profile-image/' ~ user.image) }}" alt="{{ user.image }}">
        </div>
    {% endif %}
    {{ form_start(profileForm) }}
    {{ form_widget(profileForm) }}
    {{ form_end(profileForm) }}
{% endblock %}
